﻿@model Product

@{
}

<h2>@Model.Title</h2>
@using ( Html.BeginForm() ) {

    <p>
        @Html.LabelFor( _ => _.Price )
        @Html.EditorFor( _ => _.Price )
        
        @Html.Hidden("productTitle",Model.Title)
    </p>
    <button type="submit">Сохранить</button>
}
