﻿@model IEnumerable<Product>

@{
    
}

<h2>Index page</h2>


@foreach ( var prod in Model ) {

    <p><a href="@Url.Action( "Product", new { id = prod.Title } )">@prod.Title</a><a href="@Url.Action("Edit",new{ title = prod.Title})">Изменить</a></p>
}