﻿@model Product

@{
    ViewBag.Title = "title";
}

<h2>@Model.Title</h2>
<h3></h3>
<p>Your Name: <strong id="display-name"></strong></p>
<p>Price: <b id="product-price">@Model.Price</b></p>
<p>
    <b>Your Price</b>
    <input type="number" id="your-price" />
</p>
<p>
    <b>Your Message</b>
    <input id="message" type="text" />
</p>
<p>
    <button id="submit">Голосовать</button>
</p>
<ul id="messages">
</ul>
@section body {
    <script type="text/javascript">

        window.UserName = "Guest";

        window.ProductTitle = '@Model.Title';

        var auctionHubProxy = null;

        $(document).ready(function () {

            window.UserName = prompt("Enter your name");

            /*
                
                1.Creating hub

            */

            auctionHubProxy = $.connection.auctionHub;

            console.info(auctionHubProxy != null);


            /*

                2.Declaring functions 

            */

            auctionHubProxy.client.updateState = function (name, message, price) {

                $('#product-price').text(price);

                console.info("price: " + price);

                console.info('name: ' + name + ' message: ' + message);

                $('#messages').append("<li>" + name + " : " + message + "</li>");
            };

            auctionHubProxy.client.updatePrice = function (price) {
                console.info('updating price: ' + price);
                $('#product-price').text(price);
            };

            /*

                3.Connecting

            */

            $.connection.hub.start().done(function () {

                console.info('connected');

                console.info($(this));

                console.info($(this).state());

                auctionHubProxy.server.joinGroup(window.ProductTitle).done(function () {
                    console.info('Joined to group');
                }).fail(function () {
                    console.error('Failed to join into group');
                });

            })
            .fail(function () {
                console.error('couldnot connect');
            });


            $('#display-name').text(window.UserName);
        });


        $('#submit').click(function () {

            var price = $('#your-price').val();

            var message = $('#message').val();

            console.info(price);

            console.info(message);

            /*

                Executing server function

            */

            auctionHubProxy.server.addPrice(window.ProductTitle, price, window.UserName, message)
                .done(function () {
                    console.info('price and message sent');
                })
                .fail(function () {
                    console.error('fail to sent price and message');
                });

        });

    </script>
}






